*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box; 
    transition: 0.3s;
scroll-behavior: smooth;
} 
.main{
    background-image:url('img3.png');
    background-size: cover;
  height: 100vh; width: 100%;
  position: relative;
}
.head{
background-color:rgba(0, 0, 0, 0.315);
height:15vh;
display:flex;
align-items: center;
font-size: 2.2em;
padding-left: 10px;
position: fixed;
z-index: 1000;
width: 100%;
top: 0;
}  
.headdd a{
    text-decoration: none;
    color: black; 
}
.headdd{
    padding-left: 80px;
    display: flex;
    align-items: center; 
     list-style-type: none; 
}
.headdd .hidden_list{position: absolute;z-index: 1000;}
.headdd li{
    text-decoration: none;
    margin-left: 35px;    
}
.headdd a:hover{
    padding: 10px; 
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
} 
.header h1{
    position: relative;
    font-size: 2em;
    padding-top: 10px;
     /* animation: slideIn 2s linear; */
}

.header h1::after{
position: absolute;
content: "";
top: 30px;
left: 90px;
height: 30px; 
width: 180px;
background-color: red;
transform: translate(-50%,-50%);
animation: slideIn 2s linear forwards; 
z-index: 1;}
   
@keyframes slideIn {
    0% {
       
      width: 180px;opacity: 1;
    }
    100% {  
        width: 0;opacity: 0.5;
         
    }
} 
 
.title{
    padding-left: 5px;
    font-size: 1.3em;
}
span{
    color: red;
}
.header{
     padding: 140px 20px;     
}
h1{
    font-size: 2.5em;
    margin-bottom: 8px;
} 
.section{
    display: none;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    position: absolute;
    top: -12px;
    background-color: rgb(0,0,0);
    color: white;
right: 0;
}
.section li{ 
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 40px;
   
} 
.section .list{
    margin-top: 20px; 
     
    list-style-type: none; 
}
.section a{color: white;}
.head .hidden_list1 {
    margin-left: auto;
    position: relative;
    z-index: 1000; /* Create positioning context */
}
.head .hidden_list1::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 49px;
    width: 90px;
    top: 24px;
    left: 22px;
    border: 20px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: -1;
    animation: move 0.6s linear infinite;
}
@keyframes move {
    0%{opacity:1 ;width: 75%;border: 0;}
    100%{opacity:0.4 ;width: 100%;border: 100%;}
}
   
.work-type{ 
    width: 105%;
    background-image: url("6.jpg");
    background-size: cover;
    display: block;
    padding: 10px 2px;
    background-color: rgba(0,0,0,0.5); 
    position: relative;
}
.work-type::after{
    content: "";
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    top:0px;
    left: 0px; 
   background-color: rgba(0,0,0,0.6);
   backdrop-filter: blur(1.9px);
}
.work-type .title{
    text-align: center;
    color: red;
    font-size: 2em;
    z-index: 2;
    position: relative;
    margin-top: 60px;
}
.work-type .type{ 
    position: relative;
    z-index: 2;
    padding: 7px ;
    margin: 25px 300px 29px;
    font-size:2em;
    border-radius: 20px; 
    text-align: center;
    box-shadow: 0 0 5px 3px rgba(0,0,0,0.9);

    cursor: pointer;
}
.work-type .type a{
    position: relative;
    text-decoration: none;
    color: black;
    z-index: 2;
}



.about-container{
    width: 105%;
    background-color: rgba(0,0,0,0.5);
    padding-top: 60px;
    /* height: 100vh;} */}
.about-title{
 font-size: 2em;
    text-align: center;
    margin-bottom: 8px;
    
}
.col-left{
    display: flex;
    justify-content: center;
    position: relative;  
    margin-bottom: 8px;

}
.about-img{
    position: relative;

}
.about-img::after{
    content: "";
    height: 250px;
    width: 200px;
    z-index: -1;
    position: absolute;
    top:30px;
    left:-40px;
    transition: translate(-50px,-50px);
    border: 6px solid red;
}
.col-right p{ 
    padding-top: 50px;
    font-weight: 800;
    text-align:center;
}


.cont{
    width: 105%;

    background-color: rgba(0,0,0,0.5);
   height: 100vh;     
    padding: 90px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cont .phone{  
 padding: 8px;
    border-radius: 10px;
   text-align: center;
   cursor: pointer;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
}
.cont .phone:hover,.mail:hover,.address:hover{
    transform: scale(1.1);
}
.cont .mail{  
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
   text-align: center;
    cursor: pointer;
    padding: 8px;
}
.cont .address{  
    border-radius: 10px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.5);
   padding: 8px;
    cursor: pointer;
    text-align: center;
}
p{
    font-size: large;
}


 
@media (max-width: 400px) {
    .hidden_list {
        display: block; 
    }
    .hidden_list1 .hidden_list{z-index: 1000;}
    .headdd {
        display: none;  
    }
    .work-type .title{padding-top: 45px;}
    .head{height: 10vh;}
    .main{width: 105vw;height: 105vh;background-image: url("7.png");backdrop-filter: blur(5px); background-size: cover;}
    #home{width: 100vw;height: 108vh;}
    .cont{flex-direction: column;height: 105vh; } 
    .section {
        height: 108vh;
        width: 70vw;
    }
    .header h1 {
        font-size: 3.5em;
        padding: 70px 34px 0px; }
    .head .title{font-size: 0.8em;}
    .work-type .type{ 
        position: relative;
        z-index: 2;
        padding: 22px ;
        margin: 25px 35px 29px;
        font-size:2em;
        border-radius: 20px; 
        text-align: center;
        box-shadow: 0 0 5px 3px rgba(0,0,0,0.9);
        cursor: pointer;
    }
    .work-type .type a{
        position: relative;
        text-decoration: none;
        color: black;
        z-index: 2;
    }
    .about-container{padding-top: 120px;height: 105vh;}
.work-type{height: 105vh;}
.header h1::after {
    position: absolute;
    content: "";
    top: 101px;
    left: 180px;
    height: 59px;
    width: 290px;
    background-color: red;
    transform: translate(-50%, -50%);
    animation: slideIn 2s linear forwards;
    z-index: 1;
}
}

@media (min-width: 769px) {
    .hidden_list {
        display: none;  
    }
    
    .headdd {
        display: flex;
    }
    
}